<!DOCTYPE HTML>

<html>
<head>
	<title> Weather Tracker </title>

	<!-- Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Chart.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

	<!-- Local Javascript / JQuery -->
	<!-- External file does not work - 404 file not found (looks in localhost root dir -- idk how to fix yet) -->
	<!-- <script type='text/javascript' language='javascript' src='templates/javascript.js'></script> -->
	<script>
		// Creating the Line Chart
		$(document).ready(function(){
			// Global Script Root
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
			var ctx = document.getElementById('main_chart').getContext('2d');

			var config = {
				type: 'line',

				data: {
					labels: [1, 2, 3, 4, 5],
					datasets: [{
						label: 'Highest Temp',
						backgroundColor: 'rgba(255, 0, 0, 0.6)',
						borderColor: 'rgba(255, 0, 0, 0.6)',
						data: [12, 34, 12, 1, 34],
						fill: false,
					}, {
						label: 'Lowest Temp',
						fill: false,
						backgroundColor: 'rgba(0, 0, 255, 0.6)',
						borderColor: 'rgba(0, 0, 255, 0.6)',
						data: [1, 2, 4, 2, 7],
					}, {
						label: 'Mean Temp',
						fill: false,
						backgroundColor: 'rgba(0, 255, 0, 0.6)',
						borderColor: 'rgba(0, 255, 0, 0.6)',
						data: [4, 2, 1, 6, 3],
					}],
				},

				options: {
					responsive: true,
					title: {
						display: true,
						text: 'Line Chart'
					},
					tooltips: {
						mode: 'index',
						intersect: false,
					},
					hover: {
						mode: 'nearest',
						intersect: true
					},
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Date'
							}
						}],
						yAxes: [{
							display: true,
							scaleLabel: {
								display: true,
								labelString: 'Temperature (deg C)'
							}
						}]
					}
				}
			}

			// make chart
			window.myLine = new Chart(ctx, config);
			console.log("Hi");

			// Button Click (Populating Chart Data)
			$(".month").click(function() {
				console.log("Click ID: " + $(this).attr('id'));
				$.getJSON($SCRIPT_ROOT + '/chart', {month:$(this).attr('id')}, function(received_data) {
					config.data.labels= received_data.labels;
					config.data.datasets[0].data = received_data.high_temp;
					config.data.datasets[1].data = received_data.low_temp;
					config.data.datasets[2].data = received_data.mean_temp;
					config.options.title.text = received_data.name;
					window.myLine.update();
					console.log("Done");
				});
			});
		});

	</script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<!-- Bootstrap js scripts - used for dropdown menus -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Overridden styles -->


</head>

<body>
	<!-- Header -->
	<div class = "jumbotron">
		<h1> Weather Tracker </h1>
		<sub> Annual and Monthly Weather Patterns and Trends in Ontario </sub>
	</div>

	<div class="container">
		<!-- Data Options -->
		<div class = "row">
			<div class='col-4 spacer'></div>
			<div class="col-1">
				<div class="btn-group">
					<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Month
					</button>
					<div class="dropdown-menu">
				  		<a class="dropdown-item month" id="January">January</a>
				 		<a class="dropdown-item month" id="February">February</a>
						<a class="dropdown-item month" id="March">March</a>
						<a class="dropdown-item month" id="April">April</a>
				 		<a class="dropdown-item month" id="May">May</a>
						<a class="dropdown-item month" id="June">June</a>
						<a class="dropdown-item month" id="July">July</a>
				 		<a class="dropdown-item month" id="August">August</a>
						<a class="dropdown-item month" id="September">September</a>
						<a class="dropdown-item month" id="October">October</a>
				 		<a class="dropdown-item month" id="November">November</a>
						<a class="dropdown-item month" id="December">December</a>
				    <div class="dropdown-divider"></div>
				    	<a class="dropdown-item month" id="all_months">All Months</a>
						<a class="dropdown-item month" id="winter_months">Winter (Dec-Feb)</a>
						<a class="dropdown-item month" id="spring_months">Spring (Mar-May)</a>
						<a class="dropdown-item month" id="summer_months">Summer (Jun-Aug)</a>
						<a class="dropdown-item month" id="fall_months">Fall (Sep-Nov)</a>
					</div>
				</div>

			</div>
			<div class='col-2 spacer'></div>
			<div class ="col-1">
				<div class="btn-group">
					<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Start Year
					</button>
					<div class="dropdown-menu">
				  		<a class="dropdown-item" href="#">Action</a>
				 		<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
				    <div class="dropdown-divider"></div>
				    	<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
			</div>
			<div class='col-4 spacer'></div>
		</div>
		<div class="row">
			<!-- Spacer -->
			<div class="col-1 spacer">
			</div>

			<!-- Main Chart - Where the relevant data will be displayed -->
			<div class="col-10">
				<canvas id="main_chart"></canvas>
			</div>

			<!-- Spacer -->
			<div class="col-1 spacer">
			</div>
		</div>
	</div>


<!-- Bootstrap js scripts -->

<!-- Tried putting js scripts here, but they break the app for some reason -->

</body>
